  
.chip {
  display: flex;  
  background: #ecf1ff;
  align-items: center; 
  padding: 4px 0px 5px 5px; 
  border-radius: 5px;
  font-size: 13px;
  color: #344054;
  height: 20px;
  cursor: default;
  max-width: 100%; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #667085;
  pointer-events: initial;
}